{% extends "base.html" %} {% load static %}
{% block title %} 登录 {% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>

            <h3 align="center"> Encrypted Communication</h3>
            <br>

            <form method="post" action=".">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="body">please enter your message : </label>
                    <!-- 文本区域 -->
                    <textarea type="text" class="form-control" id="body" name="body" rows="12"></textarea>
                </div>
                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-light">Submit</button>
            </form>

            <br><br><br><br><br>
            <p align="center"> Our team provides strict encrypt method</p>
        </div>
    </div>
</div>
{% endblock content %}