{% load static %}
<!-- Footer -->
<div>
    <br><br><br>
</div>
<footer class="py-3 bg-dark " id="footer">
    <div class="container">
    	<style> 
		p{ line-height:21px} /*设置段落高度为 21*/
		</style>
		<p class="m-0 text-center text-white">&nbsp</p>
        <p class="m-0 text-center text-white">Copyright &copy; Challet 2020</p>
        <p class="m-0 text-center text-white">&nbsp</p>
        <style> 
		p{ line-height:18px} 
		</style>
        <p class="m-0 text-center text-yellow">Proudly developed by us</p>
    </div>
</footer>

