{% extends "base.html" %} {% load static %}
{% block title %} Transfer {% endblock title %}
{% block content %}

<br>
<h3 class = "text-center"> Transfer &nbsp Page</h3>
<br>
 <div style="color:red; text-align:center; font:18px bolder" >{{ error }}</div>
 <div style="color:red; text-align:center; font:18px bolder" >{{ info }}</div>
<br>



<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <!---form method="post" action="."--->
            <form method="post" action=".">
                {% csrf_token %}


                <!-- 选择币种 -->
                <div class="form-group">
                    <label for="type">your currency :</label>
                    <select class="form-control" 
                            id="type"
                            name="type"
                    >
                        <option value="none">Please choose a currency..</option>
                        <option value="ETH">ETH</option>
                        <option value="BTC">BTC</option>
                        <option value="BCH">BCH</option>
                        <option value="LTC">LTC</option>

                    </select>
                </div>

                <br>
                <!-- 转账地址 -->
                <label for="from_address">from address: </label>
                <div class="form-group col-md-8">
                    <input type="text" class="form-control" id ="from_address" name="from_address" required>
                </div>


                <br>
                <!-- 收钱地址 -->
                <label for="to_address">to address: </label>
                <div class="form-group col-md-8">
                    <input type="text" class="form-control" id="to_address" name="to_address" required>
                </div>

                <br>
                <!-- 选择币种 -->
                <div class="form-group">
                    <label for="column">choose unit</label>
                    <select class="form-control"
                            name="column"
                    >
                        <option value="none">Please choose a unit..</option>
                        <option value="none">Wei (ETH)</option>
                        <option value="none">Ether (ETH)</option>
                        <option value="none">SAT (BTC)</option>
                        <option value="none">Btc (BTC)</option>
                        <option value="none">Ltc (LTC)</option>
                        <option value="none">Litoshi (LTC)</option>

                    </select>
                </div>
                <br>
                <label for="value">value: </label>
                <div class="form-group col-md-2">
                    <input type="text" class="form-control" id="value" name="value" required>
                </div>
                <br>

                <!-- 转账备注 -->
                <div class="form-group">
                    <label for="note"> notes: </label>
                    <!-- 文本区域 -->

                    {%if receive_message %}
                        <textarea type="text" class="form-control" id="note" name="note" rows="12">{% for line in messages %}{{ line }}{% endfor %}</textarea>
                    {% else %}
                    <!-- 文本区域 -->
                    <textarea type="text" class="form-control" id="note" name="note" rows="12"></textarea>
                    {% endif %}
                </div>

                <br>
                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-link">Confirm transaction !</button>
            </form>
        </div>

    <div class="col-12 text-center">
        <br>
        <br>
        <br>
        <br>
        <br>
        <img src="https://tva1.sinaimg.cn/large/007S8ZIlgy1geook084pxj30v90u0tdf.jpg" alt = "mine" style="max-width:15%; border-radius: 20px">
    </div>

    </div>
</div>


{% endblock content %}